body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


header {
    position: relative;
    display: flex;
   text-align: center;
   background-color: rgba(146, 124, 124, 0.336);
   
  justify-content: center;
  
  
}

header:hover {
    background-color: rgba(146, 124, 124, 0.418);
}

#header1 h1 {
    margin: 0;
    padding: 10px;
    letter-spacing: 0.2em;
    font-size: 2.5em;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
   
}




#parallax-text {
    font-size: 5vw;
    position: relative;
    top: 0vh;
    text-align: center;
    transform: translateY(-50%);
    margin: 0 auto;
    color: #003366;
    padding: 300px 0; 
}


#Hovebilde {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-top: 50px; 
}

#Hovebilde img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

#Hovebilde h1 {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: azure;
    font-size: 4vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.IntroDel {
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
    
}

.IntroDel h1 {
    font-size: 1.5em;
    color: grey;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    
}


#infobox1 {
    width: 10px; 
    height: auto; 
    background-color: rgb(223, 126, 0);
    margin-right: 20px; 
    flex-shrink: 0; 
}


#BackTekst {
    flex-grow: 1; 
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    
}

#BackTekst a {
    display: block;
    color: black;
    font-size: 1.2em;
    box-shadow: -10px 0px 11px -5px #83bdff;
}


#InnledningB {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    gap: 20px;
    flex-wrap: wrap;
}

#InnledningB a {
    font-size: 2.3em;
    max-width: 45%;
    text-align: left;
    line-height: 1.5em;
    word-spacing:normal;
   
   


    margin-right: 3px;
    
}

#InnledningB img {
    max-width: 45%;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


#midtdel {
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
}

#midtdel h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    line-height: 1.5em;
    box-shadow: 0px 1px 0px 0px #000000;

}




#designvalg {
    width: 80%;
    height: 3px;
    background-color: black;
    margin: 40px auto;
}


#infoboxBlå, #infoboxBlå2 {
    background-color: #fff2cc;
    padding: 30px 20px;
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
    width: 100vw;
    height: 6%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
   
    
    
}

#infoboxBlå p, #infoboxBlå2 p {
    font-size: 1.2em;
    width: 90%;
    margin: auto;
    line-height: 1.5em;
}


#infomorendetekstbox {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

#infomorendetekstbox p::first-letter {
    font-size: 4em;
    font-weight: bold;
    color: #000000; 
    line-height: 0.9;
    float: left;
    margin-right: 5px;
}


#infomorendetekstbox p {
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5em;
}


#mellomtekst {
    font-size: 1.2em;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

#chartBilde {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}


@media (max-width: 768px) {
    #header1 h1, #header1 h2 {
        font-size: 5vw;
    }

    #Hovebilde h1 {
        font-size: 8vw;
    }

    .IntroDel h1 {
        font-size: 4vw;
        text-align: center;
    }

    #BackTekst a, #infoboxBlå p, #infoboxBlå2 p {
        font-size: 4vw;
    }

    #infomorendetekstbox h1 {
        font-size: 8vw;
    }

    #InnledningB {
        flex-direction: column;
        align-items: center;
    }

    #InnledningB a, #InnledningB img {
        max-width: 90%;
    }
}