

* {

padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Georgia', 'Times New Roman', Times, serif;


}





#header1{

    position: absolute;
    width: 100%;
    height: 100px;
    color: white;
    top: 0;
    margin: 0;
    padding: 0;
    
    background-color: #00336600;
    justify-content: center;
    display: flex;
    
transition: 0.5s;

}

#header1 h1{

    margin-top: 30px;
    letter-spacing: 0.4cm;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}

#header1:hover{
 
    background-color: #003366;
    
}

#header1 h1:hover{
    
       color: #f0cb7b;
   }




.messi-section {
    background-image: url('balanse.png'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vw; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
  transition:4s ;
    text-decoration: underline;
}

.messi-section:hover{
    color: #830303;
   
   
   
}


.container {
    display: flex;
    justify-content: center; 
    padding: 20px;
}


.content {
    background-image: url("Sect1Bilde\ \(1\).png");
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    background-position: center;
    
    position: relative;
    width: 50vw; 
    max-width: 1200px; 
    min-height: 300px;
    margin: 10px auto; 
    box-sizing: border-box;
    height: 750px;
    border-radius: 5%;
  
    box-shadow: 11px 12px 10px 2px rgba(0, 0, 0, 0.308); 
    
}


@media (max-width: 768px) {
    .messi-section {
        font-size: 6vw; 
    }

    .content {
        width: 95vw; 
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    .messi-section {
        font-size: 8vw; 
    }

    .content {
        width: 100vw; 
        padding: 5px; 
    }
}

/*












*/
.content-border{

    
    padding: 20px;
    
    background-color: #ffffffbe;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 80vw; 
    max-width: 1200px; 
    margin: 10px auto; 
    box-sizing: border-box;
    height: 1000px;
    border-radius: 2%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), 
                0px 12px 24px rgba(0, 0, 0, 0.2); 
                
    text-align: left;

    


}


.content-border h2{

    margin-top: 800px;
    left: 119px;
    position: absolute;
}

.content-border p{

    position: absolute;
    margin-top: 840px;

    left: 119px;
}

.ContentB{

    position: absolute;
    margin-top: 930px;
    width: 150px;
    border-radius: 4%;
    height: 45px;
    color: white;
    background-color: #f4511e;
    display: flex;
    justify-content: center;
    left: 119px;
    cursor: pointer;  
    align-items: center;
  
}

.ContentB:hover{

    background-color: #c43e16;
    transition: 0.2s;
    transform: scale(1.1) ;
    color: #f0cb7b ;
    cursor: url('Hansker.png'),auto;
}


/*












*/


.content-border2{

    
    padding: 20px;
    text-align: left;
    background-color: #ffffffbe;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 80vw; 
    max-width: 1200px; 
    margin: 10px auto; 
    box-sizing: border-box;
    height: 1000px;
    border-radius: 2%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), 
                0px 12px 24px rgba(0, 0, 0, 0.2); 
    top:50px;
    


}


.content-border2 h2{

    margin-top: 670px;
    left: 119px;
    position: absolute;
}

.content-border2 p{

    position: absolute;
    margin-top: 730px;

    left: 119px;
}

.ContentB2{

    position: absolute;
    margin-top: 880px;
    width: 150px;
    border-radius: 4%;
    height: 45px;
    color: white;
    background-color: #f4511e;
    display: flex;
    justify-content: center;
    left: 119px;
    cursor: pointer;  
    align-items: center;
  
}

.ContentB2:hover{

    background-color: #c43e16;
    transition: 0.2s;
    transform: scale(1.1) ;
    color: #f0cb7b ;
    cursor: url('Hansker.png'),auto;
}





.content2 {
    background-image: url("datasect2.png");
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    
   
    position: relative;
    width: 50vw; 
    max-width: 1200px; 
    min-height: 300px;
    margin: 10px auto; 
    box-sizing: border-box;
   
    height: 565px;
    border-radius: 5%;
  
    box-shadow: 11px 12px 10px 2px rgba(0, 0, 0, 0.308); 
    
}

/*












*/


.content-border3{

    
    padding: 20px;
    text-align: center;
    background-color: #ffffffbe;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 80vw; 
    max-width: 1200px; 
    margin: 10px auto; 
    box-sizing: border-box;
    height: 1000px;
    border-radius: 2%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), 
                0px 12px 24px rgba(0, 0, 0, 0.2); 
    top:80px;
    


}


.content-border3 h2{

    margin-top: 800px;
    left: 119px;
    position: absolute;
}

.content-border3 p{

    position: absolute;
    margin-top: 850px;

    left: 119px;
}

.ContentB3{

    position: absolute;
    margin-top: 920px;
    width: 150px;
    border-radius: 4%;
    height: 45px;
    color: white;
    background-color: #f4511e;
    display: flex;
    justify-content: center;
    left: 119px;
    cursor: pointer;  
    align-items: center;
  
}

.ContentB3:hover{

    background-color: #c43e16;
    transition: 0.2s;
    transform: scale(1.1) ;
    color: #f0cb7b ;
    cursor: url('Hansker.png'),auto;
}





.content3 {
    background-image: url("Sect3Bilde.png");
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
    
    
    position: relative;
    width: 50vw; 
    max-width: 700px; 
    min-height: 300px;
    margin: 10px auto; 
    box-sizing: border-box;
    height: 750px;
    
    border-radius: 5%;
  
    box-shadow: 11px 12px 10px 2px rgba(0, 0, 0, 0.308); 
    
}

/*












*/


.content-border4{

    
    padding: 20px;
    text-align: left;
    background-color: #ffffffbe;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 80vw; 
    max-width: 1200px; 
    margin: 10px auto; 
    box-sizing: border-box;
    height: 1000px;
    border-radius: 2%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), 
                0px 12px 24px rgba(0, 0, 0, 0.2); 
    top:100px;
    


}


.content-border4 h2{

    margin-top: 800px;
    left: 119px;
    position: absolute;
}

.content-border4 p{

    position: absolute;
    margin-top: 840px;

    left: 119px;
}

.ContentB4{

    position: absolute;
    margin-top: 920px;
    width: 150px;
    border-radius: 4%;
    height: 45px;
    color: white;
    background-color: #f4511e;
    display: flex;
    justify-content: center;
    left: 119px;
    cursor: pointer;  
    align-items: center;
  
}

.ContentB4:hover{

    background-color: #c43e16;
    transition: 0.2s;
    transform: scale(1.1) ;
    color: #f0cb7b ;
    cursor: url('Hansker.png'),auto;
}





.content4 {
    background-image: url("flyballonsect6.png");
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 50vw; 
    background-repeat:repeat ;
    max-width: 1200px; 
    min-height: 300px;
    margin: 10px auto; 
    box-sizing: border-box;
    height: 610px;
    
    border-radius: 5%;
  
    box-shadow: 11px 12px 10px 2px rgba(0, 0, 0, 0.308); 
}



/*












*/




.content-border5{

    
    padding: 20px;
    text-align: left;
    background-color: #ffffffbe;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 100vw; 
    max-width: 1900px; 
    margin: 10px auto; 
    box-sizing: border-box;
    height: 1000px;
    border-radius: 2%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), 
                0px 12px 24px rgba(0, 0, 0, 0.2); 
    top:100px;
    


}


.content-border5 h2{

    margin-top: 800px;
    left: 119px;
    position: absolute;
}

.content-border5 p{

    position: absolute;
    margin-top: 840px;

    left: 119px;
}






.ContentB5{

    position: absolute;
    margin-top: 880px;
    width: 150px;
    border-radius: 4%;
    height: 45px;
    color: white;
    background-color: #f4511e;
    display: flex;
    justify-content: center;
    left: 119px;
    cursor: pointer;  
    align-items: center;
  
}

.ContentB5:hover{

    background-color: #c43e16;
    transition: 0.2s;
    transform: scale(1.1) ;
    color: #f0cb7b ;
    cursor: url('Hansker.png'),auto;
}





.content5 {
    background-image: url("GoatGraph.png");
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    background-position: center;
    
    position: relative;
    width: 300w; 
    max-width: 1200px; 
    min-height: 300px;
    margin: 10px auto; 
    box-sizing: border-box;
    height: 750px;
    
    border-radius: 5%;
  
    box-shadow: 11px 12px 10px 2px rgba(0, 0, 0, 0.308); 
}

/*












*/




.content-border6{

    
    padding: 20px;
    text-align: left;
    background-color: #ffffffbe;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 100vw; 
    max-width: 1900px; 
    margin: 10px auto; 
    box-sizing: border-box;
    height: 1000px;
    border-radius: 2%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), 
                0px 12px 24px rgba(0, 0, 0, 0.2); 
    top:200px;
    


}


.content-border6 h2{

    margin-top: 800px;
    left: 650px;
    text-align: center;
    position: absolute;
}

.content-border6 p{

    position: absolute;
    margin-top: 840px;

    left: 119px;
}






.ContentB6{

    position: absolute;
    margin-top: 880px;
    width: 150px;
    border-radius: 4%;
    height: 45px;
    color: white;
    background-color: #f4511e;
    display: flex;
    justify-content: center;
    left: 119px;
    cursor: pointer;  
    align-items: center;
  
}

.ContentB6:hover{

    background-color: #c43e16;
    transition: 0.2s;
    transform: scale(1.1) ;
    color: #f0cb7b ;
    cursor: url('Hansker.png'),auto;
}





.content6 {
    
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    background-position: center;
    
    position: relative;
    width: 300w; 
    max-width: 1200px; 
    min-height: 300px;
    margin: 10px auto; 
    box-sizing: border-box;
    height: 1000px;
    overflow: hidden;
    border-radius: 5%;
  
    box-shadow: 11px 12px 10px 2px rgba(0, 0, 0, 0.308); 
}





.content6 video{

    
    align-content: center;
    cursor: url(Hansker.png) auto;
    display: block;
}

/*












*/

.piloppigjen {

height: 60px;
width:auto;

}





.nettside-footer{

    background-color:#003366;
    color: white;
    padding: 10px;
    position: relative;
    top: 400px;
    height: 100px;

}




